In [7]:

#String Slicing in Python
#String slicing allows you to extract a portion of a string by specifying a start and end index. The syntax is:
#string[start:end:step]
#start: The index to begin slicing (inclusive).
#end: The index to end slicing (exclusive).
#step: How many steps to take when slicing (default is 1)

In [6]:
text = "Hello, World!"
print(text[0:5])
print(text[7:12])

print(text[::2])

Hello
World
Hlo ol!

In [9]:
# 2.Explain the key features of lists in Python
#Ordered: Lists maintain the order of elements.
#Mutable: You can modify the elements after the list is created.
#Heterogeneous: Lists can contain elements of different types (e.g., integers, strings).
#Dynamic: Lists can grow or shrink in size.

In [10]:
my_list = [1, "apple", 3.5, True]
print(my_list)

[1, 'apple', 3.5, True]

In [11]:
#3. Describe how to access, modify, and delete elements in a list with examples
#Accessing Elements: You can use indexing.

In [14]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
#Modifying Elements: Use the index to change an item.

In [15]:
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

In [16]:
#Deleting Elements:

del fruits[1]
print(fruits)

['apple', 'cherry']

In [17]:
#Using .remove():
fruits.remove("apple")
print(fruits)

['cherry']

In [18]:
#Using .pop(): Removes and returns an element.
fruit = fruits.pop(0)
print(fruit)
print(fruits)

cherry
[]

In [22]:
#4.Compare and contrast tuples and lists with examples
#Comparison of Tuples and Lists
#Lists: Mutable, can be modified.
#Tuples: Immutable, cannot be modified.
#Tuples are used for fixed data, lists for dynamic data.

In [21]:
#list
my_list = [1, 2, 3]
my_list[0] = 4
print(my_list)

[4, 2, 3]

In [24]:
#tuple
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [ ]:
#5.Describe the key features of sets and provide examples of their use

In [ ]:
#Features of Sets in Python
#Unordered
#Unique Elements
#Mutable

In [25]:
my_set = {1, 2, 3, 3}
print(my_set)

{1, 2, 3}

In [ ]:
#Common Operations:
#Adding: my_set.add(4)
#Removing: my_set.remove(2)
#Union & Intersection

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)
print(set1 & set2)

{1, 2, 3, 4, 5}
{3}

In [27]:
my_set.add(4)

In [28]:
my_set.remove(2)

In [29]:
#6.Use Cases for Tuples and Sets in Python
#Tuples: Use when data should not change, like coordinates or fixed configurations.
#Sets: Use when you need to manage unique items or perform set operations like unions and intersections.

In [30]:
#tupples
coordinates = (10, 20)

In [31]:
#sets
unique_names = {"Alice", "Bob", "Charlie"}

In [ ]:
#7.Describe how to add, modify, and delete items in a dictionary with examples

In [33]:
#adding
my_dict = {"name": "Alice", "age": 25}
my_dict["city"] = "New York"
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [34]:
#modifying
my_dict["age"] = 30
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [35]:
#Deleting Items:
del my_dict["age"]
print(my_dict)

In [37]:
#Using .pop()
city = my_dict.pop("city")
print(city)  # Output: New York
print(my_dict)  # Output: {'name': 'Alice'}

New York
{'name': 'Alice', 'age': 30}

In [ ]:
# 8.Discuss the importance of dictionary keys being immutable and provide example

In [39]:
#Dictionary keys must be immutable to ensure that the key does not change,
# maintaining a consistent hash value for fast lookups. Examples of immutable types include strings, numbers, and tuples.

In [41]:
#example
my_dict = {123: "number", "name": "Alice", (1, 2): "tuple key"}