<a href="https://colab.research.google.com/github/vinay609/physicswallah-python/blob/main/python_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Code Cheatsheet for beginner**

In [ ]:
#converting integer to decimals
import decimal
integer=10
print(decimal.Decimal(integer))

10

In [ ]:
print(type(decimal.Decimal(integer)))

<class 'decimal.Decimal'>

In [ ]:
# converting string to decimals
import decimal
string='434343'
print(type(string))
print(decimal.Decimal(string))

<class 'str'>
434343

In [ ]:
print(type(decimal.Decimal(string)))

<class 'decimal.Decimal'>

In [ ]:
#implicit type casting = python understands the data type automatically
2+2

4

In [ ]:
type(2+5)

int

In [ ]:
type(5+2.6)

float

In [ ]:
#explicit type casting =  involves Python's predefined functions that act as a constructor of another data type
a=6
b=4.5
print(type(a))
print(type(b))
print(a+b)
print(type(a+b))

<class 'int'>
<class 'float'>
10.5
<class 'float'>

In [ ]:
a=2
print(type(a))
b = str(a)
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a ='ajay'
b=5
print(a+str(b))

ajay5

In [ ]:
bool(a)

True

In [ ]:
bool("vinay")

True

**Conditional Statement problems**

In [ ]:
#Given a positive integer x. Your task is to check, if it is even or odd (Any number that gives zero as remainder when divided by 2 is an even number)
def checkOddEven():
    x = int(input("Enter a value: "))

    if 1 <= x <= 106:
        if x % 2 == 0:
            print("Even")
        else:
            print("Odd")
    else:
        print("Please enter a number between 1 and 106.")

checkOddEven()

Enter a value: 5
Odd

In [ ]:

"""Given two integer variables a and b, and a boolean variable flag. The task is to check the status and return accordingly.

Return True for the following cases:

Either a or b (not both) is non-negative and the flag is false.
Both a and b are negative and the flag is true.
Otherwise, return False
"""

class Solution:
    def checkStatus(self, a, b, flag):
        # code here
        if not flag:
            if (a>=0 and b<0) or (b>=0 and a<0):
                return True
            else:
                return False
        elif a<0 and b<0 and flag:
            return True
        else:
            return False
sol = Solution()

print(sol.checkStatus(5, -6, False))

True

In [ ]:
class Solution:
    def checkStatus(self, a, b, flag):

        if (a>0 & b<0 and flag == False):
            return True
        elif (a<0 & b<0 and flag==True):
            return False
        elif (a>0 & b>0 and flag==True):
            return False

sol = Solution()

print(sol.checkStatus(-7, -3, True))

None

# **using Return keyword in multiple cases**

In [ ]:
#1. Returning a Single Value
#You can return a single value of any data type.

def get_number():
    return 5

print(get_number())

5

In [ ]:
#2. Returning Multiple Values (Tuple Packing)
#Python allows returning multiple values as a tuple.

def get_coordinates():
    return 10, 20  # Returns a tuple

x, y = get_coordinates()
print(x, y)

10 20

In Python, when you call a function that returns multiple values (like get_coordinates()), it actually returns a tuple. You can handle this tuple in two ways:

In [ ]:
#1️⃣ Assigning Multiple Values to Separate Variables (Tuple Unpacking)

def get_coordinates():
    return 10, 20  # This actually returns (10, 20) as a tuple

x, y = get_coordinates()  # Unpacking the tuple into x and y
print(x, y)

10 20

In [ ]:
#2️⃣ Calling the Function Directly Without Unpacking
print(get_coordinates())

(10, 20)

In [ ]:
#3. Returning a List
def get_list():
    return [1, 2, 3, 4]

print(get_list())

[1, 2, 3, 4]

In [ ]:
#4. Returning a Dictionary

def get_dict():
    return {"name": "Alice", "age": 25}

print(get_dict())

{'name': 'Alice', 'age': 25}

In [ ]:
#5. Returning a Boolean Value

def is_even(n):
    return n % 2 == 0

print(is_even(4))
is_even(5)

True

False

In [ ]:
#6. Returning None (No Value)
#If you don’t specify a return value, Python automatically returns None.

def do_nothing():
    return
print(do_nothing())

None

In [ ]:
#7. Returning an Object or Class Instance
class Person:
    def __init__(self, name):
        self.name = name

def get_person():
    return Person("Alice")

person = get_person()
print(person.name)

Alice

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def get_name(self):
        return self.name


p1 = Person("Alice")
p2 = Person("Bob")
p3 = Person("Charlie")
p4 = Person("David")

print(p1.get_name())
print(p2.get_name())
print(p3.get_name())
print(p4.get_name())

Alice
Bob
Charlie
David

In [ ]:
#8. Returning a Function (Higher-Order Functions)

def outer_function():
    def inner_function():
        return "Hello"
    return inner_function
func = outer_function()
print(func())

Hello

In [ ]:
#9. Returning a Generator (yield instead of return)
#A generator returns values one at a time using yield.

def count():
    for i in range(5):
        yield i

gen = count()
print(next(gen))  # Output: 0
print(next(gen))

In [ ]:
#10. Returning Early (Using return to Exit a Function Early)

def check_number(n):
    if n < 0:
        return "Negative Number"
    return "Positive Number"

print(check_number(-5))
print(check_number(5))

Negative Number
Positive Number

In [ ]:
#11. Returning exit() to Stop Execution

import sys

def stop_execution():
    print("Program Stopped")

stop_execution()

Program Stopped

In [ ]:
'''You are familiar with basics of input/output and many other useful things in Python. This module is all about conditional statements like if, elif, else; for, while, etc.

In Python, any conditional statement ends with ':' (proper indentation must be followed while working through loops).

There are two friends, John and Smith, and the parameters j_angry and s_angry to indicate if each is angry. You are in trouble if both of them are angry or no one of them is angry.

Now, complete the function which returns true if you are in trouble, else return false'''

def are_in_trouble(j_angry, s_angry):
    if j_angry == s_angry:
        return True
    elif (j_angry==False and s_angry==False):
        return True;
    else:
        return False

print(are_in_trouble(True, True))
print(are_in_trouble(False, False))
print(are_in_trouble(True, False))
print(are_in_trouble(False, False))

True
True
False
True

In [ ]:
#You are given a string str, you need to return True if  the words "cat" and "hat" appear same number of times in str, otherwise return False.
def cat_hat(s):
    if s.count('cat') == s.count('hat'):
        print("cat and hat both are present", s.count('cat'), "times")
        return True
    else:
        print("cat and hat are not present equal number of times")
        return False

print(cat_hat('cathat'))
print(cat_hat('cat'))
print(cat_hat('hat'))
print(cat_hat('catcat'))
print(cat_hat('hathat'))
print(cat_hat('vinay'))
print(cat_hat('kumar'))

cat and hat both are present 1 times
True
cat and hat are not present equal number of times
False
cat and hat are not present equal number of times
False
cat and hat are not present equal number of times
False
cat and hat are not present equal number of times
False
cat and hat both are present 0 times
True
cat and hat both are present 0 times
True

In [ ]:
# reversing problems
#method 1
s=('vinaykumar')
n=len(s)
for i in range(n-1,-1,-1):
    print(s[i],end='')

ramukyaniv

In [ ]:
#method 2 by converting muttable to immutable

s= "vinaykumar"
n= list(s)
y= len(n)

for i in range(y-1, -1, -1):
  print(n[i], end='')

ramukyaniv

In [ ]:
#method 3 by converting extended slicing
s=('vinaykumar')
print(s[::-1])

ramukyaniv

In [ ]:
#counting vowels
s=('vinaykumar')
vowels='aeiou'
count=0
for i in s:
    if i in vowels:
        count+=1
print(count)

4

In [ ]:
s=("aravindha sametha veera raghava")
vowels = "a,e,i,o,u"
count=0
for i in s:
  if i not in vowels:
    count+=1
print(count)

18

In [ ]:
#palindrome
s=("aravindha sametha veera raghava")
print(s)
if s==s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

aravindha sametha veera raghava
not palindrome

In [ ]:
#writing Fibonacci series
fib = [0,1]
for i in range(2,100):
    fib.append(fib[i-1]+fib[i-2])
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026

In [ ]:
#finding the maximum number in a list
l=[1,2,3,4,5,6,7,8,9,10]
max(l)

10

In [ ]:
#method 2

l = [1,22,33,44,11,2,3,4]
max = l[0]
for num in l:
  if max < num:
    max = num
print(max)

44

In [ ]:
#printing minimum number
l = [1,22,33,44,11,2,3,4]
min = l[0]
for num in l:
  if min > num:
    min = num
print(min)

1

In [ ]:
import builtins
print(builtins.min(l))

1

In [ ]:
#finding middle element in  the list

list = [1,2,3,4,5,6,7,8,9,10]
n = len(list)
middle_element = list[n//2]
print(middle_element)

6

In [ ]:
#converting a list into a string
list = ['a','b','c','d','e','f','g','h','i','j']
b=str(list)
print(b)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
#converting list to string withouth casting
list = ['a','b','c','d','e','f','g','h','i','j']
b=''.join(list)
print(b)

abcdefghij

In [ ]:
#adding two list elements together
lst1 = [-1,-5,3,4,5]
lst2 = [1,1,1,1,1,1,2]
vin = []
for i in range(0, len(lst1)):
    vin.append(lst1[i] + lst2[i])
print(vin)

[0, -4, 4, 5, 6]

In [ ]:
#comparing anagrams
str1 = 'listen'
str2 = 'silent'
if sorted(str1) == sorted(str2):
    print("Anagram")
else:
    print("Not Anagram")

In [ ]:
#counting digits and numbers in strings
import re
name = 'sithamvakitlo sirimalle33 chettu'
digitcount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceccount = re.sub("[^ ]", "", name)


print(len(digitcount))
print(len(letterCount))
print(len(spaceccount))

2
28
2

In [ ]:
#(Regular Expressions Library) in Python?
#The re module in Python provides powerful tools for pattern matching,
# searching, and manipulating strings based on specific patterns.

In [ ]:
#remove all white spaces in string
#method 1

import re
string = "v i n ay ku ma ar"
spaces = re.compile(r'\s+')
result = re.sub(spaces, '', string)
print(result)

vinaykumaar

In [ ]:
#method 2

string = "b hai ra va dweepam"
string2 = "".join(char for char in string if char != " ")
print(string2)

bhairavadweepam

In [ ]:
string = "co de"
string2 = string.replace(" ","")
print(string2)

code

In [ ]:
#randomizing the items of list in python
list=[1,5,2,3,4,6,7,8,9,10]
import random
random.shuffle(list)
print(list)

[2, 3, 4, 5, 7, 6, 10, 9, 8, 1]

In [ ]:
print(sorted(list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from ast import Return
#You are given a number N, you need to print its multiplication table.
def multiplicationTable(N):
    for i in range(1,11):
        print(i * N, end=" ")
multiplicationTable(13)

13 26 39 52 65 78 91 104 117 130

In [ ]:
#You are given a string str, you need to print its characters at even indices(index starts at 0).
def stringJumper(str):
    for i in range(0, len(str),2):
        print(str[i])
print(stringJumper("vinaykumar"))

v
n
y
u
a
None

In [ ]:
#Let's get it more clearly through this question.
# Given a number x, the task is to print the numbers from x to 0 in decreasing order in a single line.
def printInDecreasing(x):
    while x >= 0:
        print(x, end=" ")
        x -= 1

printInDecreasing(10)

10 9 8 7 6 5 4 3 2 1 0

In [ ]:
#Given a positive integer x, the task is to print the numbers from 1 to x
#in the order as 12, 22, 32, 42, 52, ... (in increasing order).
def printIncreasingPower(x):

    i=1

    while(i**2 <=x):

        print (i**2 , end = " ")
        i +=1

printIncreasingPower(10)

1 4 9

In [ ]:
def printIncreasinPower(x):
  while x <= 5:
    for i in range(1, 10):
       print(x **i, end=" ")
    print()
    x += 1

printIncreasinPower(4)

4 16 64 256 1024 4096 16384 65536 262144
5 25 125 625 3125 15625 78125 390625 1953125

In [ ]:
#You are given a number n. The number n can be negative or positive.
# If n is negative, print numbers from n to 0 by adding 1 to n
#in the neg function. If positive, print numbers from n-1 to 0 by subtracting 1 from n in the pos function.
def pos(n):
    ## Write the code
        while n > 0:
            print(n-1 , end=' ')
            n-=1

def neg(n):
    ##Write the code
    while n <= 0:
        print(n , end=' ')
        n+= 1
pos(10)
neg(-10)

9 8 7 6 5 4 3 2 1 0 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0

In [ ]:

def pos(n):
    if n>0:
        while(n>0):
            print(n-1,end =" ")
            n-=1
        else:
            print("already zero")

def neg(n):
    if n<=0:
        while(n<=0):
            print(n, end =" ")
            n+=1
    else:
      print("already zero")

pos(10)
neg(-10)

9 8 7 6 5 4 3 2 1 0 already zero
-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0